/* Reset de estilos */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');
/****** GENERAL    **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: #EAEAEA;
    color: rgba(0, 0, 0, 0.945);
    
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-weight:600;
    
  }

  
  
  .container_jb {
    max-width: 800px;
    margin-left: 50px;
    /*padding: 20px;
    font-family: 'Ysabeau Infant', sans-serif;*/
    font-weight:600;
  }


  /***** Estilos del encabezado *****/
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #EAEAEA;
    color: #fff;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.356);
    transition: box-shadow 0.3s ease;


    
    }
    
    .header.with-shadow {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    

  
  /***** Encabezado *****/
   .titulo {
    padding-top: 0px;
    text-align: center;
    font-size: 1.75vw;
  }
  .logo img {
    max-width: 250px;
  }
  .logo2 {
    max-width: 250px;
    text-align: center;
    padding-top: 0px; 
    width: 100%;
    margin: 0 auto;
  }
  .logo2 img {
    max-width: 250px;
   
    text-align: center;
    padding-top: 0px;
  }
  
  nav ul.menu {
    list-style: none;
    display: flex;
  }
  
  nav ul.menu :hover{
    color: rgb(26, 114, 114);
    font-size: 1.75vw;
    
    
    }

    .menu-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    .menu-list li {
      margin-right: 20px;
    }
    
    .menu-list li a {
      color: #fff;
      text-decoration: none;
      
    }
  
  nav ul.menu li {
    margin-left: 1.5px;
  }
  
  nav ul.menu li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5vw;
  }

  /*Secciones*/
  #intro {
    background-color: #EAEAEA;
    padding: 50px 0;
    margin-top: 142px;
  }
 
  #nosotros {
    padding-top: 120px;
 }
  
  .acerca2-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  
  .acerca2-column h2 {
    font-size: 12vw;
    color: rgb(59, 58, 58);
  }
  .guion {
    font-size: 4vw;
    margin-left: 10px;
  }
  .acerca2-column h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
    width: 90%;
    
  }
.gallery {
  display: flex;
  
}

#tit-gal {
  margin-top: 145px;
  font-family: 'Amaranth', sans-serif;
  font-size: 4vw;
  color: #2B2C32;
  font-weight: 300;
  margin-left: 10px;
  max-width: 30%;
  
}

.main-image {
  flex-basis: 50rem;
}
.main-image img {
  width: 65vw;
  height: auto;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.356);
  margin-left: 10px;
}
.side-images {
  flex-basis: 20rem;
  display: flex;
  flex-direction: column;
  
}

.gallery-item {
  flex-basis: 15rem;
}

.gallery-item img {
  width: 30rem;
  height: auto;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.356);
}
.two-column-section {
  display: flex;
}

.column {
  flex: 1;
  margin-left: 10px;
  
}
.column img {
position: absolute;
margin-top: 100px;
margin-left: 50px;
}
.column:nth-child(odd) {
  /*background-color: #f1f1f1;*/
}


@media (max-width: 768px) {
  .gallery {
    flex-wrap: wrap;
  }

  .main-image,
  .side-images {
    flex-basis: 100%;
  }
}
.gallery {
  display: flex;
}

.main-image {
  flex-basis: 70%;
  padding: 30px;
}

.side-images {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}

.gallery-item {
  flex-basis: 90%;
  margin-bottom: 10px; /* Agrega un margen inferior de 10px entre las imágenes */
}

.gallery-item img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .gallery {
    flex-wrap: wrap;
  }

  .main-image,
  .side-images {
    flex-basis: 100%;
  }
}

  .acerca3-grid {
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;*/
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .acerca3-colum {
    flex-basis: 20rem;
    flex-grow: 1;
  }
  
  .acerca3-column h2 {
    padding-top: 120px;
    font-size: 6vw;
    color: rgb(59, 58, 58);
    padding-left: 25px;
  }
  .acerca3-column img{
    padding-top: 150px;
    margin-left: 25px;
  }
  .guion {
    font-size: 4vw;
    margin-left: 10px;
  }
  .acerca3-column h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
    width: 90%;
    
  }


  .misvis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:40px;
    margin-top: 10px;
    background-color: #2B2C32;
  }
      .misvis h3 {
        font-family: 'Belanosima', sans-serif;
        font-size: 6vw;
        color: #EAEAEA;
        font-weight: 300;
        padding: 25px;
        
      }
      .misvis p {
        color: #EAEAEA;
        padding-left: 25px;
      }
  
  .acerca2-column p {
    color: #000000;
  }
  .acerca2-column .text-b {
    color: white;
    font-weight: 200;
    padding-top: 260px;
    
  }
  .acerca2-column .text-a {
    color: white;
    font-weight: 200;
    padding-top: 0px;
  }
  .centrar3 {
    margin:2px auto;
    display:block;
  }
  .acerca2-column a :hover{
    transform: translateY(10px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.8);
    transition: all 0.25s;
}
  .subtt {
    padding-top: 30px;
    width: 70%;
    padding-left: 25px;
    
  }

  /* Estilos del footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 350px;
}

.container_footer {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
}

.footer-logo img {
  max-width: 250px;
  width: 80%;
  
  
}

.slider {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
}


.contact-info h3,
.social-media h3 {
  color: #fff;
  margin-bottom: 10px;
}

.contact-info p {
  color: #fff;
  margin-bottom: 5px;
}

.social-media ul {
  list-style: none;
  padding: 0;
}

.social-media ul li {
  display: inline-block;
  margin-right: 10px;
}

.social-media ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para tablet y smartphone */
@media only screen and (max-width: 768px) {
    
  .acerca2-grid {
      display: block;
      /*grid-template-columns: 1fr 1fr;
      grid-gap: 40px;*/
    }

  nav ul.menu {
    /*display: none;
    flex-direction: column;*/
    text-align: right;
    font-size: 15px;
    display:flow-root;
    
  }
  nav ul.menu li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    font-size: 2.5vw;
  }
  /*nav ul.menu :hover{
      color: cyan;
  }*/
  nav.active ul.menu {
    display: flex;
    
  }

  .titulo {
    padding-top: 20px;
    text-align: center;
    font-size: 4vw;
  }
  .subtt {
    margin: 0 auto;
  }
  .servicios-grid {
      display: block;
      
    }
    .container_footer {
      display: block;
      justify-content: space-between;
    }

}